body
{
    background-image: url('background.jpg');
    background-size: 100%;
    margin: 0;
}

.current {
    font-size: 1.5em;
    color: antiquewhite;
}

.pages
{
    background-color: rgba(173, 216, 230, 0.381);
    width: 10em;
}

.Cases
{
    background-color:lightblue;
    width: 33%;
    height: 33%;
}
.Cases:hover
{
    background-color: lightgrey;
}

.hide {
    display: none;
}

.chat {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   /* display: none;*/
    background-color: rgba(255,255,255,0.8);
    z-index: 99;
    position: fixed;
}

.messages {
    height: 80vh;
    overflow-y: scroll;
}

body
{
    width :100% ;
    margin: 0px;
    display: inline-block;
}
header
{
    width :100% ;
    display: inline-block;
}
#entete
{
    width: 100%;
}
#btn_page0, #btn_page1,#btn_page2
{
    height: 20px;
    border: 1px;
    border-color: lightgrey;
    border-style:solid;
    width: 33%;
    text-align: center;
}
#btn_page0:hover, #btn_page1:hover,#btn_page1:hover,#btn_page2:hover
{
    background-color: lightgrey;
}
#btn_page0
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#btn_page1
{

}
#btn_page2
{
    border-top-right-radius: 0.2cm;
    border-bottom-right-radius: 10px;
}
#grille
{
   width: 100%;
   height: 100%;
    
    margin: auto;
    border-collapse: collapse;
    border-color: lightpink;
    border-style:hidden;
    border-width: 5px;
    border-radius: 10px;
}


.square {
    margin: auto;
    max-height: 80vh;
    max-width: 80vh;
    aspect-ratio: 1/1;
    background: #326384;
  }