body
{
    background-image: url('background.jpg');
    background-size: 100%;
    margin: 0;
}

.current {
    font-size: 1.5em;
    color: antiquewhite;
}
.pages
{
    background-color: rgba(173, 216, 230, 0.381);
    width: 10em;
}

#pseudo0, #pseudo1
{
    color: gray;
}

#pseudo0.current {
    color: rgb(230, 18, 124) !important;
}

#pseudo1.current {
    color: rgb(18, 205, 230) !important;
}


.Cases
{
    width: 33.3%;
    height: 33.3%;
    background-color: rgba(255, 255, 255, 0.253);

   
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 2px;
    box-shadow: 0 0 20px #9ecaed;
    text-align: center;
    color: #fff;
    font-size: 150px;
    font-family: monospace;
  
}
.Cases:hover
{
    border-color: rgba(18, 205, 230);
    border-style: solid;
    outline: none;
    border-width: 2px;
    background-color: rgba(18, 205, 230, 0.381);
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px rgb(18, 205, 230),
    0 0 77px rgb(18, 205, 230),
    0 0 100px rgb(18, 205, 230);

}
.hide {
    display: none;
}

.menu  {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   /* display: none;*/
    background-color: rgba(255,255,255,0.8);
    z-index: 99;
    position: fixed;
}


.rooms  {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   /* display: none;*/
    background-color: rgba(255,255,255,0.8);
    z-index: 99;
    position: fixed;
}


.chat  {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   /* display: none;*/
    background-color: rgba(255,255,255,0.8);
    z-index: 99;
    position: fixed;
}

.messages {
    height: 80vh;
    overflow-y: scroll;
}

body
{
    width :100% ;
    margin: 0px;
    display: inline-block;
}
header
{
    width :100% ;
    display: inline-block;
}
#entete
{
    width: 100%;
}
#btn_page0, #btn_page1,#btn_page2
{
    height: 20px;
    border: 1px;
    border-style:none;
   
  /*  width: 33%;*/
    background-color: rgba(173, 216, 230, 0.381);
    text-align: center;
    color: #fff;
}
#btn_page0:hover, #btn_page1:hover,#btn_page1:hover,#btn_page2:hover
{
    background-color: rgba(18, 205, 230, 0.381);
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px rgb(18, 205, 230),
    0 0 77px rgb(18, 205, 230),
    0 0 100px rgb(18, 205, 230);
    text-shadow:
    0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 42px rgb(18, 205, 230),
    0 0 77px rgb(18, 205, 230),
    0 0 100px rgb(18, 205, 230);
}
#btn_page0
{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#btn_page2
{
    border-top-right-radius: 0.2cm;
    border-bottom-right-radius: 10px;
}
#grille
{
   width: 100%;
   height: 100%;
    
    margin: auto;
    border-collapse: collapse;
    border-color: lightpink;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    outline: none;
    border-color: white;
    box-shadow: 10 0 100px #9ecaed;
}
.square {
    margin: auto;
    max-height: 80vh;
    max-width: 80vh;
    aspect-ratio: 1/1;
    /*background: #326384;*/
  }
.btn_page
{
    text-align: center;
    color: #fff;
    text-decoration:none
}
td a 
{
    display: block;
    height: 100%;
}

.croix
{
    text-shadow:
    0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 42px rgb(230, 18, 124),
    0 0 77px rgb(230, 18, 124),
    0 0 100px rgb(230, 18, 124);
}

.rond
{
   text-shadow:
    0 0 7px #fff, 
    0 0 10px #fff, 
    0 0 42px rgb(18, 205, 230),
    0 0 77px rgb(18, 205, 230),
    0 0 100px rgb(18, 205, 230);*/
}