body
{
    background-image:url('../img/backgroundP4.png');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
    margin: 0;
}


.Cases
{

    background-color: rgba(255, 255, 255, 0.253);

    width: 4em !important;
    height: 4em !important;

    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 2px;
    box-shadow: 0 0 20px #9ecaed;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-family: monospace;
  
}
.Cases:hover
{
    background-color: rgb(230, 18, 124, 0.381);
    border-color: white;
    border-style: solid;
    outline: none;
    border-width: 2px;
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px rgb(230, 18, 124),
    0 0 77px rgb(230, 18, 124),
    0 0 100px rgb(230, 18, 124);
}
